In [1]:
# import required libraries
import pandas as pd
from sqlalchemy import create_engine
import pymysql
print ('done')

done

In [2]:
# create engine
engine = create_engine('mysql+pymysql://root:@localhost/Data1202')

In [3]:
# connection string
conn = engine.connect()

In [4]:
# read a simple query into DataFrame
df = pd.read_sql("SELECT * FROM data1202.vgsales", conn)

In [5]:
# print DataFrame
print(df.head())

   Rank                      Name Platform  Year         Genre Publisher  \
0     1                Wii Sports      Wii  2006        Sports  Nintendo
1     2         Super Mario Bros.      NES  1985      Platform  Nintendo
2     3            Mario Kart Wii      Wii  2008        Racing  Nintendo
3     4         Wii Sports Resort      Wii  2009        Sports  Nintendo
4     5  Pokemon Red/Pokemon Blue       GB  1996  Role-Playing  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0     41.49     29.02      3.77         8.46         82.74
1     29.08      3.58      6.81         0.77         40.24
2     15.85     12.88      3.79         3.31         35.82
3     15.75     11.01      3.28         2.96         33.00
4     11.27      8.89     10.22         1.00         31.37

In [26]:
#Global average sales before and after 2005
df1 = pd.read_sql  ('''SELECT
    Global_Sales, avg(Global_Sales) as AVG_GLOBAL,
    case
    when Year < 2005 then 'pre2005'
    else 'post2005'
    end as pre2005_post2005

FROM
data1202.vgsales
Group by pre2005_post2005
Order by AVG_GLOBAL desc''', conn)

print(df1)

   Global_Sales  AVG_GLOBAL pre2005_post2005
0         40.24    0.649884          pre2005
1         82.74    0.489391         post2005

In [27]:
# Display the highest global sales
df2 = pd.read_sql('''select q.pre2005_post2005 as highest, max(AVG_GLOBAL) as MAXgs
from (SELECT
    Global_Sales, avg(Global_Sales) as AVG_GLOBAL,
    case
    when Year < 2005 then 'pre2005'
    else 'post2005'
    end as pre2005_post2005

FROM
    data1202.vgsales
Group by pre2005_post2005
Order by AVG_GLOBAL desc
     )q ''', conn)
print (df2)

   highest     MAXgs
0  pre2005  0.649884

In [28]:
# adding a 
df3 = pd.read_sql('''select *,
case
when Year<2005 then 'pre2005'
else
'post 2005'

end as pre2005_post2005
FROM
    data1202.vgsales ''', conn)
print(df3)

        Rank                                              Name Platform  Year  \
0          1                                        Wii Sports      Wii  2006
1          2                                 Super Mario Bros.      NES  1985
2          3                                    Mario Kart Wii      Wii  2008
3          4                                 Wii Sports Resort      Wii  2009
4          5                          Pokemon Red/Pokemon Blue       GB  1996
...      ...                                               ...      ...   ...
16322  16596                Woody Woodpecker in Crazy Castle 5      GBA  2002
16323  16597                     Men in Black II: Alien Escape       GC  2003
16324  16598  SCORE International Baja 1000: The Official Game      PS2  2008
16325  16599                                        Know How 2       DS  2010
16326  16600                                  Spirits & Spells      GBA  2003

      Pre_past_2010         Genre   Publisher  NA_Sales  EU_Sales  JP_Sales  \
0          pre-2010        Sports    Nintendo     41.49     29.02      3.77
1          pre-2010      Platform    Nintendo     29.08      3.58      6.81
2          pre-2010        Racing    Nintendo     15.85     12.88      3.79
3          pre-2010        Sports    Nintendo     15.75     11.01      3.28
4          pre-2010  Role-Playing    Nintendo     11.27      8.89     10.22
...             ...           ...         ...       ...       ...       ...
16322      pre-2010      Platform       Kemco      0.01      0.00      0.00
16323      pre-2010       Shooter  Infogrames      0.01      0.00      0.00
16324      pre-2010        Racing  Activision      0.00      0.00      0.00
16325     post-2010        Puzzle    7G//AMES      0.00      0.01      0.00
16326      pre-2010      Platform     Wanadoo      0.01      0.00      0.00

       Other_Sales  Global_Sales pre2005_post2005
0             8.46         82.74        post 2005
1             0.77         40.24          pre2005
2             3.31         35.82        post 2005
3             2.96         33.00        post 2005
4             1.00         31.37          pre2005
...            ...           ...              ...
16322         0.00          0.01          pre2005
16323         0.00          0.01          pre2005
16324         0.00          0.01        post 2005
16325         0.00          0.01        post 2005
16326         0.00          0.01          pre2005

[16327 rows x 13 columns]